@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

.content {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: grid;
}

.mainContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 90%;
  margin: auto;
}

.compSearch {
  display: grid;
  margin-top: 10em;
}
